content/apps/
content/data/
content/images/
content/logs/
content/settings/
content/themes/casper/
content/themes/*/assets/*.js
content/themes/*/assets/*.js.map
content/themes/*/assets/*.css
content/themes/*/assets/*.css.map
current
node_modules/
versions/
.ghost-cli
.ghostpid
config.development.json
*.zip