@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply h-screen border-t-8 border-accent;
  }
}

@layer components {
  .post-tags {
    .tag::after {
      content: ', ';
    }
    .tag:last-child::after {
      content: '';
    }
  }

  .prose {
    a {
      &:link,
      &:active,
      &:visited {
        @apply no-underline text-accent;
      }

      &:hover {
        @apply underline;
      }
    }

    blockquote {
      border-left-color: theme('colors.accent.DEFAULT');
    }
  }
}
