@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply h-screen border-t-8 border-accent;
  }
}

@layer components {
  .post-meta {
    li:not(:last-child)::after {
      content: '/';
      @apply pl-2 pr-1 text-gray-500;
    }
  }

  .post-tags {
    .tag::after {
      content: ', ';
    }
    .tag:last-child::after {
      content: '';
    }
  }

  .prose {
    a {
      &:link,
      &:active,
      &:visited {
        @apply no-underline text-accent;
      }

      &:hover {
        @apply underline;
      }
    }

    blockquote {
      border-left-color: theme('colors.accent.DEFAULT');
    }
  }

  form[data-members-form='subscribe'] {
    button[type='submit'] > svg {
      @apply hidden;
    }

    #subscribe-success,
    #subscribe-error {
      @apply hidden;
    }

    &.loading {
      button[type='submit'] > svg {
        @apply inline-block;
      }

      button[type='submit'] > span {
        @apply hidden;
      }
    }

    &.success {
      #subscribe-success {
        @apply block pt-4;
      }
    }

    &.error {
      #subscribe-error {
        @apply block pt-4;
      }
    }
  }
}
