<div class="flex mb-8 md:mb-16">
  <img src="https://www.gravatar.com/avatar/683b295c5aa896e68c4ea23c8668113e?size=1024"
    class="hidden w-32 h-32 mr-4 rounded-lg md:block" />
  <div class="flex-1 leading-relaxed md:text-lg">
    <p class="text-2xl">Hi, I&apos;m Josh 👋</p>
    <p>
      Currently I am building
      <a href="https://primcloud.com" title="Primcloud - Deploy, manage and scale your apps"
        class="font-semibold text-blue-700 no-underline hover:underline">Primcloud</a>
      a cloud hosting platform to deploy, manage and scale your apps. You can find me on
      <a href="https://twitter.com/joshmanders" title="Me on Twitter"
        class="font-semibold text-blue-500 no-underline hover:underline">Twitter</a>
      &amp;
      <a href="https://www.indiehackers.com/joshmanders" title="Indie Hackers"
        class="font-semibold text-blue-900 no-underline hover:underline">Indie Hackers</a>
      . You can also check out
      <a href="/uses" class="no-underline text-accent hover:underline" title="My setup">my setup</a>
      or what I am
      <a href="/now" class="no-underline text-accent hover:underline" title="What I am currently doing">currently
        doing</a>.
    </p>
  </div>
</div>